{
    "singleQuote": false,
    "trailingComma": "all",
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "printWidth": 80,
    "bracketSameLine": false,
    "htmlWhitespaceSensitivity": "ignore"
}
